 ../../../../.lesshst
        ../../../../.viminfo
        ../../../../.vscode/
        ../../../../3D Objects/
        ../../../../AppData/
        ../../../../Contacts/
        ../../../../Downloads/
        ../../../../Favorites/
        ../../../../IntelGraphicsProfiles/
        ../../../../Links/
        ../../../../Microsoft/
        ../../../../Music/
        ../../../../NTUSER.DAT
        ../../../../NTUSER.DAT{4179da68-a970-11ee-81c7-0028f833acc4}.TM.blf
        ../../../../NTUSER.DAT{4179da68-a970-11ee-81c7-0028f833acc4}.TMContainer00000000000000000001.regtrans-ms
        ../../../../NTUSER.DAT{4179da68-a970-11ee-81c7-0028f833acc4}.TMContainer00000000000000000002.regtrans-ms
        ../../../
        ../../../../Pictures/
        ../../../../Saved Games/
        ../../../../Searches/
        ../../../../Tracing/
        ../../../../Videos/
        ../../../../my-git-project/
        ../../../../my-online-store/
        ../../../../ntuser.dat.LOG1
        ../../../../ntuser.dat.LOG2
        ../../../../ntuser.ini